<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
       <title>iAcetylTrans</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="static/style.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.footer {
  position: initial;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #064881;
   color: white;
   text-align: center;
}
</style>

  </head>
  <body>
    <div class="container" style="padding-top: 15px;">
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
